html{
    background-color: rgb(111, 204, 250);

}
div{
    position: relative;

}

.snowman_hat{
    width: 60px;
    height: 55px;
    background-color: black ;
    margin-left: auto;
    margin-right: auto;
    /*가운데정렬*/

    margin-top: 200px;
} 
.snowman_hat_bottom{
    z-index: 10;
    width: 90px;
    height: 20px;
    background-color: black ;
    margin-left: auto;
    margin-right: auto;
    /*가운데정렬*/

}
.snowman_head{
    z-index: 5;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white ;
    margin-left: auto;
    margin-right: auto;
    /*가운데정렬*/
}
 .eyes_1{
    z-index: 7;

    position: absolute;
    top: -50px;;
    left: 50px;
    margin-left: 45%;
    margin-top: 0px;;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black ;

}
.eyes_2{
    z-index: 7;

    position: absolute;
    top: -50px;;
    left: 70px;
    margin-left: 45%;
    margin-top: 0px;;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black ;

}
.mouth{
    z-index: 7;
    position: absolute;
    top: -30px;;
    left: 55px;
    margin-left: 45%;
    margin-top: 0px;;
    width: 18px;
    height: 18px;
    border-radius: 0px 0px 20px 20px;
    background-color: black ;


}
.snowman_body{
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    /*가운데정렬*/
    
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white ;
}
.arm_right{
    z-index: 1;
    display: block;
    position: absolute;
    right: 52%;
    top: 50%;
    transform: rotate(30deg);
    /*가운데정렬*/
    width: 80px;
    height: 10px;
    background-color: rgb(44, 38, 38) ;

}
.arm_left{
    z-index: 2;
    display: block;
    position: absolute;
    right: 42%;
    top: 50%;
    transform: rotate(150deg);
    /*가운데정렬*/
    width: 80px;
    height: 10px;
    background-color: rgb(44, 38, 38) ;

}
.button_1,.button_2,.button_3{
    
    position: absolute;
    margin-left: 49%;
    z-index: 7;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black ;
    
    
}
.button_1{
    top:-80px;
}
.button_2{
    top:-60px;
}
.button_3{
    top:-40px;
}
.snowman_lowbody{
    margin-left: auto;
    margin-right: auto;
    /*가운데정렬*/
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: white ;
}